body{
  font-family: 'Roboto Condensed', sans-serif;
}
.icon {
  width: 35px;
  height: 35px;
  /*border-radius: 50%;*/
}
.icon img{
    width: 25px;
}
.Big-icon{
  width: 120px;
  height: 120px;
}
.Big-icon img{
  height: 70px;
}
.bg-theme{
  background-color: #000 !important;
}
.theme-color{
  color: #fff !important;
}
.theme-border-primary {
  border-color: #000 !important;
}

.bg-theme-yellow{
  background-color: #ffec26 !important;
}

.theme-border-yellow {
  border-color: #ffec26 !important;
}
.theme-yellow{
  color: #ffec26 !important;
}


.bg-theme-green {
  background-color: #65c001c7 !important;
}


.theme-border-green {
  border-color: #65c001c7 !important;
}

.btn-outline-primary {
    color: #000;
    border-color: #000;
}
.btn-outline-primary:hover{
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.navbar-toggler{
  border: 1px solid #f8f8f8a8;
}


#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  /*margin: 10px;*/
}

#navlist li, #navlist a {
  height: 38px;
  display: block;
}

#facebook {
  left: 0px;
  width: 40px;
  background: url('../img/icons/sprite.png') 0 0;
  /*border: 1px solid red;*/
}

#instagram {
  left: 50px;
  width: 45px;
  background: url('../img/icons/sprite.png') -47px 0;
  /*border: 1px solid red;*/
}

#pinterest {
  left: 97px;
  width: 53px;
  background: url('../img/icons/sprite.png') -91px 0;
  /*border: 1px solid red;*/
}

#vimeo {
  left: 160px;
  width: 40px;
  background: url('../img/icons/sprite.png') -153px 0;
  /*border: 1px solid red;*/
}

#linkin {
  left: 214px;
  width: 40px;
  background: url('../img/icons/sprite.png') -204px 0;
  /*border: 1px solid red;*/
}

#twitter {
  left: 264px;
  width: 40px;
  background: url('../img/icons/sprite.png') -253px 0;
  /*border: 1px solid red;*/
}

@media (max-width: 767px) {
  .pt-xs-0, .py-xs-0 {
      padding-top: 0 !important;
    }
  .mt-xs-0, .my-xs-0 {
      margin-top: 0 !important;
    }
  .pb-xs-0, .py-xs-0 {
    padding-bottom: 0 !important;
    }
  .p-xs-0 {
    padding: 0 !important;
  }
}
.text-black{
  color: #212121;
}